@import url("https://bermuda-css.netlify.app/style.css");
@import url("./stylesheets/abstracts/colors.css");
@import url("./stylesheets/utils/utility.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: var(--defalult-bg-color);

  color: var(--default-text-color);
}
.root {
  margin: auto;
  width: 100vw;
}
/* content component */
.content {
  margin: auto;
  position: relative;
  width: 100%;
}
/* header comonent styling */
.header-container {
  background-color: var(--off-white);
  position: sticky;
  top: 0;
  z-index: 10;
}
/* Navbar styling */
.header__nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 var(--scale-md);
}

/* Nav Links Styling */
.nav__links {
  display: flex;
}
.nav__links li a {
  color: var(--default-text-color);
}
.nav__links li a:hover {
  border-bottom: 2px solid var(--primary-color);
  box-sizing: border-box;
  color: var(--primary-color);
}
.nav__logo-container * {
  display: inline-block;
}
.nav__logo-container {
  flex-grow: 1;
}
.nav__logo-container a .fa-store {
  font-size: var(--scale-xl);
}
/* Store Icon */
a .fa-store:hover {
  transform: scale(1); /* To avoid default scaling of icon*/
}

/* Nav Searchbar styling */
.nav__searchbar {
  align-items: center;
  display: flex;
  flex-grow: 2;
  position: relative;
}
.nav__searchbar .search-input__btn {
  position: absolute;
  right: var(--scale-md);
}

.search-input {
  border: 1px solid var(--secondary-color);
  outline: 1px solid transparent;
  padding: var(--scale-sm);
  width: 100%;
}

/* Nav Icons styling */
.nav__icons {
  align-items: center;
  display: flex;
  margin-left: auto;
}
.badge__container:hover {
  transform: scale(1.03);
}

.nav__icons-login a {
  color: var(--primary-color);
}

/* Aside Container */

.main {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 0.25fr 0.75fr;
  width: 100%;
}
.aside-wrapper {
  background-color: var(--off-white);
  border-right: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
  grid-area: aside;
  height: 100vh;
  margin: auto;
  position: fixed;
  width: 25%;
  z-index: 9;
}
.aside-container {
  max-height: 85vh;
  overflow-y: auto;
}
.filter-heading,
.sort-heading {
  align-items: center;
  display: flex;
}
.filter-heading button,
.sort-heading button {
  margin-left: auto;
}
.main-wrapper {
  grid-area: main;
  margin: auto;
  width: 100%;
}

.main-container {
  width: 95%;
  margin: auto;
}

/* Stling for card component and card-container */
.cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.cards-container .card {
  color: var(--default-text-color);
  max-height: 35rem;
  max-width: 18rem;
  transition: all 0.2s ease-in;
  margin: var(--scale-md) var(--scale-sm);
}

.cards-container .card:hover {
  transform: scale(1.01);
}

.cards-container .card .card__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-container .card .card__footer .btn {
  width: 100%;
}
.rating-simple {
  background-color: var(--active-color);
  width: var(--scale-xl);
}

.card__wishlist {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 7;
}

.card__wishlist {
  font-size: calc(var(--scale-md) + var(--scale-sm));
}

.card__wishlist:active {
  color: var(--warning-color);
}
/* Hero Styling */
.hero {
  align-items: center;
  background-image: linear-gradient(
    150deg,
    var(--primary-color),
    var(--off-white),
    var(--defalult-bg-color),
    var(--default-color)
  );
  margin: var(--scale-lg) auto;
  width: 90%;
}
.hero__btn {
  font-size: var(--scale-lg);
  padding: var(--scale-md) var(--scale-lg);
}
/* Categories */
.categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category {
  aspect-ratio: 1/1;
  transition: all 0.2s ease-in;
}
.category:hover {
  box-shadow: var(--shadow-color) 0px 5px 15px;
  transform: scale(1.03);
}

/* New Arrivals Container Styling */
.new-arrivals {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.new-arrivals .card {
  transition: all 0.2s ease-in;
}
.new-arrivals .card:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-color) 0px 5px 15px;
}
.new-arrivals .card .card__footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--scale-sm);
}
.new-arrivals .card-with-badge::after {
  background: var(--warning-color);
}
.new-arrivals .card-with-badge::before {
  background: var(--warning-hover);
}

/* Footer container Styling */
.footer__links {
  font-size: var(--scale-lg);
}

/* Shopping Cart Styling */
.table__headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading__product {
  flex-grow: 1;
}
.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__description {
  flex-grow: 1;
}
.final-price__heading {
  margin-left: auto;
}
.complete-order-btn {
  padding: var(--scale-md);
}

.signup-container,
.login-container {
  width: 30rem;
}
