@import url("https://bermuda-css.netlify.app/style.css");
:root {
  --default-text-color: #222222;
  --defalult-bg-color: #ffffff;
  --default-color: #c20041;
  --primary-color: #ff0055;
  --secondary-color: #f3f4f6;
  --danger-color: #f44336;
  --success-color: #4caf50;
  --warning-color: #ffb627;

  --text-hover: #161316;
  --default-hover: #990033;
  --primary-hover: #cc0044;
  --secondary-hover: #d6dae0;
  --danger-hover: #c41508;
  --success-hover: #357937;
  --warning-hover: #e09600;
  --active-hover: #0047b3;

  --off-white: #f6f9fc;
  --active-color: #0065ff;

  --dark-color: #221d23;
  --light-color: #fffbff;

  --shadow-color: #00000059;
}
