:root {
  /* Z-index Variables */
  --z-index-one: 1;
  --z-index-two: 2;
  --z-index-three: 3;
  --z-index-four: 4;
  --z-index-five: 5;
  --z-index-six: 6;
  --z-index-seven: 7;
  --z-index-eight: 8;
  --z-index-nine: 9;
  --z-index-ten: 10;

}
